{% extends "base.html" %}
{% block head_scripts %}

        <!--  Leaflet  -->
        <script src="/static/leaflet/leaflet-src.js"></script>
        <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
        <link rel="stylesheet" href="/static/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
        <script src="/static/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>

        <script src="/static/backbone/underscore-min.js"></script>
        <script src="/static/backbone/backbone-min.js"></script>

        <script src="/static/FeatureFormView.js"></script>

        <!-- Main style -->
        <style type="text/css">
            
            #map {
                right: 0;
                left: 0;
                bottom: 0;
                top: 50px;
                position: absolute !important;
            }

            .info {
                padding: 6px 8px;
                font: 14px/16px Arial, Helvetica, sans-serif;
                background: white;
                background: rgba(255,255,255,0.8);
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
                border-radius: 5px;
            }
            .info h4 {
                margin: 0 0 5px;
                color: #777;
            }

            .legend {
                line-height: 18px;
                color: #555;
            }
            .legend i {
                width: 18px;
                height: 18px;
                float: left;
                margin-right: 8px;
                opacity: 0.7;
            }

        </style>

{% endblock %}
{% block content %}

        {% csrf_token %}

        <div class="container-fluid">
            
            <div class="row">
                <div id='map'> </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="featureSubmitModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="color:red;">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Add/Edit Feature
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="formFeatureType">Feature type</label>
                                <select class="form-control" id="formFeatureType">
                                    <option>Room</option>
                                    <option>Zone</option>
                                    <option>Furniture</option>
                                    <option>Person</option>
                                </select>
                            </div>
                            <div style="display:none;">
                                <input type="number" value="0" class="form-control featureAttribute" id="latitude">
                                <input type="number" value="0" class="form-control featureAttribute" id="longitude">
                            </div>
                            <form role="form" id="featureSubmitForm">
                                <div class="form-group">
                                    <label for="noise"> Messy</label>
                                    <select class="form-control featureAttribute" id="messy">
                                        <option value="false">False</option>
                                        <option value="true">True</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="noise"> Noise</label>
                                    <input type="number" min="1" max="5" value="1" class="form-control featureAttribute" id="noise">
                                </div>
                            </form>
                            <button class="btn btn-default btn-success btn-block" id="submitFeature">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Submit
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>

            // var username = "{{ username|safe }}";

            var map;
            var marker = L.marker([],{draggable:'true'});

            var formView = new FeatureFormView('{{ csrf_token|safe }}');                
            marker.on("click", function(e){
                    $("#formFeatureType").html("");
                    $("#formFeatureType").append("<option>Furniture</option>");
                    $("#formFeatureType").append("<option>Person</option>");
                    formView.clearForm();
                    $("#longitude").val(marker.getLatLng().lng);
                    $("#latitude").val(marker.getLatLng().lat);
                    $("#featureSubmitModal").modal('show');
                });

            var markers = [];

            function getFeatures() {
                var payload = {
                    csrfmiddlewaretoken: '{{ csrf_token|safe }}'
                }
                $.ajax({
                    type: "GET",
                    async: true,
                    data:  JSON.stringify(payload),
                    url: "/api/v1/furniture/geojson",
                    dataType: 'JSON',
                    success: function (data) {
                        if ("ok" != data.status) {
                            swal("Error!", JSON.stringify(data), "error");
                            return;
                        }
                        for (var i in markers) {
                            map.removeLayer(markers[i]);
                        }
                        markers = [];
                        var features = data.data.layer.features;
                        for (var i in features) {
                            var icon = L.AwesomeMarkers.icon({
                                icon: 'circle',
                                prefix: 'fa',
                                markerColor: 'cadetblue'
                            });
                            var newMarker = new L.marker({
                                lng: features[i].geometry.coordinates[0],
                                lat: features[i].geometry.coordinates[1]
                            }, {
                                draggable: 'true',
                                icon: icon
                            });
                            newMarker.feature = features[i];
                            newMarker.on("click", function(){
                                $("#formFeatureType").html("");
                                $("#formFeatureType").append("<option>Furniture</option>");
                                formView.clearForm();
                                $("#uuid").val(this.feature.properties.uuid);
                                $("#rfid").val(this.feature.properties.rfid);
                                $("#rfid").prop("disabled", true);
                                $("#furniture_type").val(this.feature.properties.furniture_type);
                                $("#furniture_type").prop("disabled", true);
                                $("#longitude").val(this.getLatLng().lng);
                                $("#latitude").val(this.getLatLng().lat);
                                $("#featureSubmitModal").modal('show');
                            });
                            newMarker.addTo(map);
                            markers.push(newMarker);
                        }
                    },
                    error: function(xhr,errmsg,err) {
                        throw new Error(errmsg);
                    }
                });
            }

            $(function(){

                map = L.map('map', {maxZoom: 23});

                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',{ 
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
                }).addTo(map);

                map.setView( [0,0], 1 );
/*
                // Color legend
                var legend = L.control({position: 'bottomright'});

                legend.onAdd = function (map) {

                    var div = L.DomUtil.create('div', 'info legend');
                    div.innerHTML = "<h4>Legend</h4>"

                    div.innerHTML += '<i style="background: cadetblue;"></i> Furniture <br>';
                    div.innerHTML += '<i style="background: blue;"></i> New Feature <br>';

                    return div;
                };

                legend.addTo(map);
*/
                // Create new features
                map.on("click", function(e){
                    marker.setLatLng(e.latlng);
                    if (!marker.hasOwnProperty("_map")) {
                        var icon = L.AwesomeMarkers.icon({
                            icon: 'cloud-upload',
                            prefix: 'fa',
                            markerColor: 'blue'
                            // 'red', 'darkred', 'orange', 'green', 'darkgreen', 'blue', 'purple', 'darkpuple', 'cadetblue'
                        });
                        marker.setIcon(icon);
                        marker.addTo(map);
                    }
                });

                getFeatures();

            });

        </script>

{% endblock %}

