{% extends "base.html" %}
{% block head_scripts %}

        <!--  Leaflet.draw-master  -->
        <script src="/static/leaflet/leaflet-src.js"></script>
        <link rel="stylesheet" href="/static/leaflet/leaflet.css" />

        <script src="/static/backbone/underscore-min.js"></script>
        <script src="/static/backbone/backbone-min.js"></script>

        <script src="/static/FeatureFormView.js"></script>

        <!-- Main style -->
        <style type="text/css">
            #map {
                right: 0;
                left: 0;
                bottom: 0;
                top: 50px;
                position: absolute !important;
            }
        </style>

{% endblock %}
{% block content %}

        {% csrf_token %}

        <div class="container-fluid">
            
            <div class="row">
                <div id='map'> </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="featureSubmitModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="color:red;">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Add/Edit Feature
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="formFeatureType">Feature type</label>
                                <select class="form-control" id="formFeatureType">
                                    <option>Room</option>
                                    <option>Zone</option>
                                    <option>Furniture</option>
                                    <option>Person</option>
                                </select>
                            </div>
                            <form role="form" id="featureSubmitForm">

                                <div class="form-group">
                                    <label for="noise"> Messy</label>
                                    <select class="form-control featureAttribute" id="messy">
                                        <option value="false">False</option>
                                        <option value="true">True</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="noise"> Noise</label>
                                    <input type="number" min="1" max="5" value="1" class="form-control featureAttribute" id="noise">
                                </div>
                            </form>
                            <button class="btn btn-default btn-success btn-block" id="submitFeature">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Submit
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>

            // var username = "{{ username|safe }}";

            var map;
            var marker = L.marker();
            var formView = new FeatureFormView(marker, '{{ csrf_token|safe }}');                
            marker.on("click", function(e){
                    $("#formFeatureType").html("");
                    $("#formFeatureType").append("<option>Furniture</option>");
                    $("#formFeatureType").append("<option>Person</option>");
                    //ormView.$el.find("#featureSubmitForm").prepend(
                        formView.clearForm()
                    //);
                    $("#featureSubmitModal").modal('show');
                });

            $(function(){

                map = L.map('map', {maxZoom: 23});

                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',{ 
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
                }).addTo(map);

                map.setView( [0,0], 1 );

                map.on("click", function(e){
                    marker.setLatLng(e.latlng);
                    if (!marker.hasOwnProperty("_map")) {
                        marker.addTo(map);
                    }
                });

            });




 
    function sendZoneInfo(){
        var payload = {
            uuid: "zone1",
            outlets_used: 5,
            csrfmiddlewaretoken: '{{ csrf_token|safe }}'
        }
        $.ajax({
            type: "POST",
            async: true,
            data:  JSON.stringify(payload),
            url: "/api/v1/zone",
            dataType: 'JSON',
            success: function (data) {
                console.log(data)
            },
            error: function(xhr,errmsg,err) {
                throw new Error(errmsg);
            }
        });



}

        </script>

{% endblock %}

